### Gradle template
.gradle
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.idea/

# IntelliJ
/out/
.iml*

# mpeltonen/sbt-idea plugin
.idea_modules/